<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feelings Check</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section>
        <div id="frm-wrapper">
            <form action="/user-input" method="POST">
                <div id="txt-wrapper"> 
                    <textarea name="input" id="input" cols="30" rows="10"></textarea>
                    <div id="btn-wrapper">
                        <button>Tell Us About It</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

</body>

</html>