/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

ul,
ol {
    list-style: none;
}

/* END RESET */

#frm-wrapper {
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;
}

textarea {
    width: 20rem;
    height: 10rem;
    border-radius: 5px;
    resize: none;
}

#btn-wrapper {
    display: flex;
    justify-content: center;
}
